@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.seccion-cascos .cascos-item a, .section-motos .motos-item a {
  text-decoration: none;
  font-size: 15px;
  padding: 10px;
  color: yellow;
}

/*reset de css*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

footer {
  background-color: gainsboro;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer a i {
  font-size: 50px;
  color: blue;
  transition: 0.5s;
}

header {
  background-color: black;
}
header h1 {
  font-size: 60px;
  font-weight: 900;
  color: white;
}
header nav ul {
  background-color: black !important;
}
header nav ul li a {
  color: white !important;
}
header nav ul li a:hover {
  background-color: black !important;
}
header .boton {
  border: 1px solid rgb(170, 40, 40);
  color: white;
}
header .boton:hover {
  background-color: rgb(170, 40, 40);
  color: white;
}

.hero {
  text-align: center;
  height: 670px;
  background-image: url(../img/moto-8.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.hero h2 {
  color: white;
  font-size: 30px;
}
.hero h2::first-letter {
  font: size 40px;
  color: red;
}
.hero p {
  text-align: center;
  color: white;
  font-size: 20px;
  margin: 20px;
}

.hero2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 15px;
}
.hero2 div {
  width: 35%;
}
.hero2 div h2 {
  font-size: 35px;
  color: black;
  text-align: center;
}
.hero2 div h2:hover {
  background: linear-gradient(to right, red, blue);
  background-clip: text;
  font-size: 50px;
  color: transparent;
  transition-duration: 3s;
}
.hero2 h3 {
  font-size: 20px;
  color: black;
  text-align: center;
}
.hero2 h3::selection {
  background-color: rgb(170, 40, 40);
  color: white;
}
.hero2 img {
  width: 600px;
  height: 500px;
  transition: 2s;
}
.hero2 img:hover {
  transform: rotateZ(15deg);
}

.novedades h2 {
  background-color: rgb(29, 27, 27);
  text-align: center;
  color: white;
  font-size: 30px;
  margin-top: 20px;
}
.novedades .novedades-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.novedades .novedades-container div {
  border: 2px solid black;
  width: 260px;
  height: 350px;
  margin: 20px;
  text-align: center;
}
.novedades .novedades-container div:nth-child(3) {
  border-color: red;
}
.novedades .novedades-container div img {
  width: 100%;
  height: 80%;
  transition: 4s;
}
.novedades .novedades-container div img:hover {
  transform: rotateY(180deg);
}
.novedades .novedades-container div p {
  font-size: 15px;
  color: black;
  background-color: gray;
  margin-bottom: 5px;
}
.novedades .novedades-container div a {
  background-color: black;
  text-decoration: none;
  color: white;
  font-size: 15px;
  padding: 5px 5px 5px 5px;
}

.calesita {
  width: 500px;
  height: 500px;
}

.calesita {
  display: relative;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.whatsapp {
  position: fixed;
  bottom: 80px;
  right: 25px;
}
.whatsapp a img {
  width: 60px;
  height: 50px;
}

.ofrecemos h2 {
  background-color: red;
  color: white;
  font-size: 30px;
  text-align: center;
  animation-name: ingreso;
  animation-duration: 6s;
  animation-timing-function: ease-out;
  animation-direction: initial;
  animation-iteration-count: 1;
  animation-delay: 1s;
}

.motos h3 {
  background-color: white;
  color: black;
  font-size: 30px;
  text-align: center;
}

.section-motos {
  background-image: url(../img/Imagenes-motos/Fondo-moto2.jpg);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  justify-content: space-evenly;
  gap: 20px;
}
.section-motos .motos-item {
  width: 250px;
  height: 400px;
  margin: 20px;
  text-align: center;
}
.section-motos .motos-item img {
  width: 100%;
  height: 250px;
  transition-duration: 2s;
}
.section-motos .motos-item img:hover {
  transform: translateY(100px);
}
.section-motos .motos-item h3 {
  color: white;
  font-size: 20px;
  margin-bottom: 10px;
}
.section-motos .motos-item h4 {
  position: top;
  font-size: 15px;
  color: white;
  margin-bottom: 20px;
  margin-top: 0px;
}
.section-motos .motos-item a {
  background-color: rgb(15, 14, 14);
}

.presentacion-cascos h2 {
  background-color: red;
  color: white;
  font-size: 30px;
  text-align: center;
  animation-name: ingreso;
  animation-duration: 6s;
  animation-timing-function: ease-in-out;
  animation-direction: initial;
  animation-iteration-count: 1;
  animation-delay: 1s;
}
@keyframes ingreso {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0;
    width: 100%;
  }
}
.presentacion-cascos p {
  text-align: center;
  color: black;
  font-size: 23px;
  margin: 20px;
}

.contenedor-animacion {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenedor-animacion .animacion-cascos {
  width: 90px;
  height: 90px;
  background-color: gray;
  color: rgb(155, 51, 51);
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  animation: cuadrado 8s infinite;
}
@keyframes cuadrado {
  0% {
    border-radius: 100%;
    background-color: blue;
  }
  25% {
    border-radius: 75%;
    background-color: red;
  }
  50% {
    border-radius: 50%;
    background-color: skyblue;
  }
  75% {
    border-radius: 25%;
    background-color: salmon;
  }
  100% {
    border-radius: 0%;
    background-color: rgb(184, 184, 218);
  }
}

.seccion-cascos {
  background-image: url(../img/imagenes-cascos/fondo-moto-5.jpg);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  column-gap: 10px;
  gap: 20px;
}
.seccion-cascos .cascos-item {
  width: 250px;
  height: 400px;
  margin: 20px;
  text-align: center;
}
.seccion-cascos .cascos-item img {
  width: 100%;
  height: 250px;
  transition-property: width height;
  transition-duration: 2s;
}
.seccion-cascos .cascos-item img:hover {
  transform: scale(1.2);
}
.seccion-cascos .cascos-item h3 {
  color: white;
  font-size: 20px;
}
.seccion-cascos .cascos-item h4 {
  position: top;
  font-size: 15px;
  color: white;
  margin-bottom: 20px;
  margin-top: 5px;
}
.seccion-cascos .cascos-item a {
  background-color: black;
}

.presentacion-camperas h2 {
  background-color: red;
  color: white;
  font-size: 30px;
  text-align: center;
  animation-name: ingreso;
  animation-duration: 6s;
  animation-timing-function: ease-in-out;
  animation-direction: initial;
  animation-iteration-count: 1;
  animation-delay: 1s;
}
.presentacion-camperas p {
  text-align: center;
  color: black;
  font-size: 23px;
  margin: 20px;
}

.funciones {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  height: 120px;
  font-size: 15px;
  color: blue;
  gap: 30px;
}
.funciones .recuadro {
  width: 110px;
  height: 90px;
  background-color: rgb(156, 155, 155);
  transition: transform 2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.funciones .recuadro.linear {
  transition-timing-function: linear;
}
.funciones .recuadro.ease {
  transition-timing-function: ease;
}
.funciones .recuadro.ease-in {
  transition-timing-function: ease-in;
}
.funciones .recuadro.ease-out {
  transition-timing-function: ease-out;
}
.funciones .recuadro:hover {
  transform: translateX(100px);
}

.seccion-camperas {
  background-image: url(../img/Imagenes-camperas/fondo-moto3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  column-gap: 10px;
  gap: 20px;
}
.seccion-camperas .camperas-item {
  width: 250px;
  height: 400px;
  margin: 20px;
  text-align: center;
}
.seccion-camperas .camperas-item img {
  width: 100%;
  height: 250px;
  transition-duration: 2s;
}
.seccion-camperas .camperas-item img:hover {
  transform: translateX(100px);
}
.seccion-camperas .camperas-item h3 {
  color: white;
  font-size: 20px;
  transition-duration: 2s;
  transition-property: width;
  transition-timing-function: linear;
}
.seccion-camperas .camperas-item h4 {
  position: top;
  font-size: 15px;
  color: white;
  margin-bottom: 20px;
  margin-top: 5px;
}
.seccion-camperas .camperas-item a {
  background-color: black;
  text-decoration: none;
  color: white;
  font-size: 15px;
  padding: 5px 5px 5px 5px;
}

.contacto h2 {
  text-align: center;
}

.container .form-container {
  border: 1px solid #000;
  padding: 20px;
  width: 50%;
  margin: auto;
  margin-top: 50px;
  border-radius: 5px;
  background-color: #f8f9fa;
}

.fondo-gradiente {
  background: linear-gradient(90deg, skyblue, rgb(74, 74, 148));
  background-size: 200% 200%;
  animation: 4s gradient infinite;
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
@media (max-width: 430px) {
  header nav div a h1 {
    font-size: 50px;
    font-weight: 800;
  }
}
@media (max-width: 837px) {
  .hero2 {
    justify-content: center;
    align-items: center;
  }
  .hero2 div {
    width: 100%;
  }
  .hero2 img {
    display: none;
  }
}
@media (max-width: 520px) {
  .calesita div div div img {
    width: 350px;
    height: 350px;
  }
}
@media (max-width: 520px) and (max-width: 420px) {
  .calesita div div div img {
    width: 260px;
    height: 260px;
  }
}
@media (max-width: 412px) {
  footer {
    flex-direction: column;
  }
}
@media (max-width: 1222px) {
  .section-motos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}
@media (max-width: 900px) {
  .section-motos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
@media (max-width: 592px) {
  .section-motos {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
/**---cascos---*/
@media (max-width: 903px) {
  .seccion-cascos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
@media (max-width: 611px) {
  .seccion-cascos {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
/*---camperas---*/
@media (max-width: 895px) {
  .seccion-camperas {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 599px) {
  .seccion-camperas {
    grid-template-columns: 1fr;
  }
}

/*# sourceMappingURL=estilos.css.map */
